@{
    ViewData["Title"] = "Home Page";
}

@if (Model != null)
{
    @model Person

    <p>You have searched the following:</p> 
    <h4>@Model.name</h4>
    <p>from the planet @Model.homeworld!</p>
    <p>Gender: @Model.gender</p>
}

<form asp-action="PersonSearch">
    <input type="number" name="selection" />
    <button type="submit">Search Person</button>
</form>
<form asp-action="PlanetSearch">
    <input type="number" name="selection" />
    <button type="submit">Search Planet</button>
</form>
